# no incomplete file and useless files for the user
dev/
bin/

# Node stuff
node_modules/

# The private stuff
data/
client_secret.json

# logs
logs/
log/
*.log

# temp stuff
tmp/
*.tmp
