# no incomplete file and useless files for the user
# dev/
bin/

# Node stuff
node_modules/
package-lock.json

# The private stuff
data/
client_secret.json
AirtableAPIkey.key

# logs
logs/
log/
*.log

# temp stuff
tmp/
*.tmp
